In [17]:
print("Hello world???")

Hello world???

In [18]:
print("This is my first day on python")

This is my first day on python

In [19]:
print(100*56)

5600

In [20]:
name ="Kabir"
print(name)

Kabir

In [21]:
print("My name is Lhans")
print('Am a student')

My name is Lhans
Am a student

In [22]:
print("Ummu I love you oooo")

Ummu I love you oooo

In [23]:
# This is called a comment
myfirstvariable = 45
print(myfirstvariable)

45

In [24]:
valu = 67
print(valu)

67

In [25]:
first = 35
second = 85
print(first + second)

120

In [26]:
_variable_kayb = 94
_var = 26
print(_var + _variable_kayb)

120

In [27]:
#variable (num1, num2)
boys = 15
girls =25
sum = boys + girls
print(sum)

40

In [28]:
sub = girls - boys
print(sub)

10

In [29]:
mult = girls * boys
print(mult)

375

In [30]:
div = girls / boys
print(div)

1.6666666666666667

In [31]:
Mode = girls%boys
print(Mode)

10

In [32]:
Power = girls ** boys
print(Power)

931322574615478515625

In [33]:
num_student  = 50
class_name = "Python Basics"
print("There are", num_student, "class_name")

There are 50 class_name

In [34]:
print("There are", num_student, "students in", class_name, "class")

There are 50 students in Python Basics class

In [35]:
# +,-,/,*%,^,**
print(23+56)
print(56-23)
print(56/23)
print(23*56)
print(56%23)
print(56^23)
print(23**6)

79
33
2.4347826086956523
1288
10
47
148035889

In [36]:
def addition(firstnum,secondnumb):
    print(firstnum + secondnumb)
addition(10,12)

22

In [37]:
addition(450,580)

1030

In [38]:
def subtract(firstn,secondn):
    print(firstn - secondn)

In [39]:
subtract(150,80)

70

In [40]:
def addition(first,sec):
    print(first + sec)
    return first

In [41]:
sum_result=addition(450,345)
print( "the sum of the addition is",sum_result)

795
the sum of the addition is 450

In [42]:
def greet(name):
    return f"hello, (name)!"
message = greet( "Alice")  # here , Alice is an argumnent
print(message)

hello, (name)!

In [43]:
#def mode(Num1,Num2,Num3):
# subtract 2 numbers
#multiply 2 numbers
#calculate the square of a number
#calculate cube of number
#calculate area of rectangle
# calculate area of a circle
#calculate perimeter of a triangle
#calculate perimeter of a circle

def Parameter(a,b):
    return(a+b)
    return(a-b)
    return(a*b)
    return(3.14*a*b)
theresult= Parameter(5,6)
print("the sum of the two variables is",theresult)

the sum of the two variables is 11

In [44]:
def Parameter(a):
    return(3.14*a**2)
theresult= Parameter(5)
print("the area of the circle is",theresult)

the area of the circle is 78.5

In [45]:
def Parameter(a,b):
    return(a*b)
theresult= Parameter(5,6)
print("the multiplication of the two variables is",theresult)

the multiplication of the two variables is 30

In [46]:
def Parameter(a,b,c):
    return(a*b*c)

theresult= Parameter(6,6,6)
print("the cube of the variables is",theresult)

the cube of the variables is 216

In [47]:
def Parameter(a):
    return(a**3)

theresult= Parameter(6)
print("the other method for cube of the variables is",theresult)

the other method for cube of the variables is 216

In [48]:
def Parameter(a,b):
    return(a*b)

theresult= Parameter(6,5)
print("the area of the square is",theresult)

the area of the square is 30

In [49]:
def Parameter(a):
    return(4*a)

theresult= Parameter(6)
print("the perimeter of the square is",theresult)

the perimeter of the square is 24

In [50]:
def Parameter(a,b,c):
    return(a+b+c)

theresult= Parameter(6,5,10)
print("the perimeter of the triangle is",theresult)

the perimeter of the triangle is 21

In [51]:
def rectanglearea(l,b):
    return l*b
rectanglearea(12,5)

60

In [52]:
def circlearea(r):
    return 3.14*r**2
circlearea(5)

78.5

In [53]:
a=10
b=19
if a>b:
    print(a, "is greater than", b)
else:
    print(b,"is greater than a", a)

19 is greater than a 10

In [54]:
bola ="goat"
jeffery = "cow"

if bola=="goat" and jeffery == "goat":
    print("Bola and Jeffery are the same")
elif bola =="cow":
    print ("Bola is a cow")
elif jeffery =="man":
    print("jeffery is a man")
else:
    print("Bola and Jeffery are not the same")

Bola and Jeffery are not the same

In [55]:
def even (a,b):
    return(a%b == 0)
a = 14
b = 2
if even(a,b):
    print (a,"is the even number")
else:
    print (a, "the numberis odd number")

14 is the even number

In [56]:
def even (a,b):
    return(a%b == 1)
a = 11
b = 2
if even(a,b):
    print (a,"is the even number")
else:
    print (a, "the numberis odd number")

11 is the even number

In [57]:
def numbers(a,b,c):
    return max(a,b,c)
    a = 15
    b = 18
    c = 25
    num = numbers(15, 18,25)
    print("the highest number of the",highestnumber)

In [58]:
studentscore = int(input("Enter students score"))
if studentscore > 150:
    print ("invalid score, score should not exceeds 100")
if studentscore > 90:
    print ("A")
elif studentscore >= 80 and studentscore < 90:
    print ("B")
elif studentscore >= 70 and studentscore <= 80:
    print ("C")
elif studentscore >= 60 and studentscore < 70:
    print ("D")

else:
    print("F")

In [ ]:
def triangle():

    a=int(input("the value of side a"))
    b=int(input("the value of side b"))
    c=int(input("the value of side c"))

    if a == b == c:
        print("The sides are equal. It is equalateral triangle")
    elif a == b or a == c or b == c:
        print("It is an isosceles trainagle")
    else:
        print("the traingle is a scalene triangle")



triangle()

the traingle is a scalene triangle

In [ ]:

age = int(input("Please put your:"))
if age <= 12:
    print("You are a child")
elif age >= 13 and age <= 19:
    print("You are a Teenager")
elif age >=20 and age <= 59:
    print("You are an adult")
else:
    print("You are senior citizen")

You are an adult

In [ ]:
def celsius (a):
    return  =(celsius * 9/5) + 32

a = float(input("Enter the temperature of the body"))
print("the fahrenheit"is "a")

<>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?

KeyboardInterrupt: Interrupted by user

In [ ]:
def triangele(side1, side2, side3):
    if side1 == side2 and side1 == side3:
        return "this is an equalateral triangle"
    elif side1 == side2 or side2 == side3 or side1 == side3:
        return " this is an iscosceles traiangle"
    else:
        return "This is a scalene triangle"
    
triangele(5,6,6)

' this is an iscosceles traiangle'

In [ ]:
def vowel_conschecker ():
    char = input("Enter a sigle character")
    if char == "a" or char =="e" or char == "i" or char =="o" or char =="u":
        return "This is a vowel", char
    else:
        return "This is a consonant", char
vowel_conschecker()

('This is a consonant', 'b')

In [ ]:
def vowel_conschecker ():
    char = input("Enter a sigle character")
    vowels = "aeiou"
    
    if char.lower() in vowels: 
        return "This is a vowel", char
    else:
        return "This is a consonant", char
vowel_conschecker()

('This is a vowel', '')

In [ ]:
age =57
if age>= 60:
    print("Senior citizen")
elif age <=59 and age >= 20:
    print("Adult")
elif age <=19 and age >= 13:
    print ("Teeneger")
else:
    print("Child")

Adult

In [ ]:
def agegroup(age):

   if age>= 60:
    print("Senior citizen")
   elif age <=59 and age >= 20:
    print("Adult")
   elif age <=19 and age >= 13:
    print ("Teeneger")
   else:
    print("Child")

agegroup(45)

Adult

In [ ]:
def temperature_converter():

    temp = int(input("Enter the temperature value "))
    degree = int(input("Choose the temperature unit \n 1. Celcius \n 2. Farhenheit"))

    if degree == 1:
        return (temp-32)*5/9
    elif degree ==2:
        return (9/5* temp) +32

In [ ]:
temperature_converter()

10.0

In [ ]:
def temperature_converter():

    temp = int(input("Enter the temperature value "))
    degree = int(input("Choose the temperature unit \n 1. Celcius \n 2. Farhenheit"))

    if degree == 1:
        print (temp,"degree fareignheit to celcius is", int(( temp-32))*5/9)
    elif degree ==2:
        print (temp,"degree celcius to fareignheit is", int(( 9/5 * temp) +32))
    else:
        return "invalid input"

temperature_converter()

'invalid input'

In [ ]:
vowels = ["a","e","i","o","u"]
print(vowels[0])

a

In [ ]:
print(vowels[1:3])

NameError: name 'vowels' is not defined

In [ ]:
print(vowels[:3])

['a', 'e', 'i']

In [ ]:
fruit = ["apple", "banana", "cherry"]
fruit[1] = "grape"
fruit[2]= "agbalumo"

In [ ]:
print(fruit)

NameError: name 'fruit' is not defined

In [3]:
mylist =[1,2,3,4,5,6,0,5]
secondlist = [10,11,13,14]
mylist.sort()

In [4]:
print(mylist)

[0, 1, 2, 3, 4, 5, 5, 6]

In [ ]:
mylist.reverse()
print(mylist)

[6, 5, 5, 4, 3, 2, 1, 0]

In [ ]:
if "dog"in mylist:
    print(True)

else:
    print(False)

False

In [ ]:
if 4 in mylist:
    print(True)

else:
    print(False)

True

In [ ]:
combine_list = mylist +secondlist
print(combine_list)

[0, 1, 2, 3, 4, 5, 5, 6, 10, 11, 13, 14]

In [5]:
for item in mylist:
    print(item)

0
1
2
3
4
5
5
6

In [8]:
emptylist =[00, 66, 77]
for item in mylist:
    emptylist.append(item)

In [9]:
print(emptylist)

[0, 66, 77, 0, 1, 2, 3, 4, 5, 5, 6]

In [12]:
emptylist =[00, 66, 77] # to check for only even number
for item in mylist:
    if item % 2 ==0:
        emptylist.append(item)

In [13]:
print(emptylist)

[0, 66, 77, 0, 2, 4, 6]

In [14]:
numberlist =[]
for number in range(1,101):
    numberlist.append(number)

In [15]:
print(numberlist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [18]:
numberlist =[1,2,3]
for number in range(5,101):
    numberlist.append(number)

In [19]:
print(numberlist)

[1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [20]:
even_number=[]
odd_number=[]
for item in range(10,50):
    if item % 2 ==0:
        even_number.append(item)
    else:
        odd_number.append(item)

In [21]:
print(even_number)
print(odd_number)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
[11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [22]:
even_number=[]
odd_number=[]
for number in numberlist:
    if number % 2 ==0:
        even_number.append(number)
    else:
        odd_number.append(number)

In [23]:
print(even_number)
print(odd_number)

[2, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [24]:
print(len(even_number))
print(len(odd_number))

49
50

In [29]:
fruit = ["apple","banana"]
fruit.append("cherry")

In [30]:
print(fruit)

['apple', 'banana', 'cherry']

In [31]:
num = [3,4,6,7,8,9,10]
num.append(110)

In [32]:
for multiple3 in range(1,15):
    if multiple3 % 3 ==0:
        print(multiple3)

3
6
9
12

In [37]:
for multiple3 in range(1,50):
    if multiple3 % 3 ==0:
        print("fig")
    elif multiple3 % 5 ==0:
        print("buss")
    elif multiple3 % 3 ==0 and multiple3 % 5 ==0:
        print("figbuss")

fig
buss
fig
fig
buss
fig
fig
fig
buss
fig
fig
buss
fig
fig
fig
buss
fig
fig
buss
fig
fig
fig

In [40]:
for multiple in range(1,50):
    if multiple % 3 ==0:
        print("fizz")
    elif multiple % 5 ==0:
        print("buzz")
    elif multiple % 3 ==0 and multiple % 5 ==0:
        print("fizzbuzz")
    else:
        print(multiple)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizz
46
47
fizz
49